In [5]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')
import parmap
import pickle

In [6]:
df = pd.read_csv('kpro_data_train.csv')
print(df.shape)

with open(file='KPro_Train_entry.pickle', mode='rb') as f:
    entry = pickle.load(f)
with open(file='KPro_Train_smiles.pickle', mode='rb') as f:
    smiles = pickle.load(f)

tqdm.pandas()
df['3d'] = df['SMILES'].progress_apply(lambda x: smiles[x]['3d'] if x in smiles.keys() else 'NaN')
df = df[df['3d'] != 'NaN'].reset_index(drop = True)
df['pc'] = df['SMILES'].progress_apply(lambda x: smiles[x]['pc'] if x in smiles.keys() else 'NaN')
df = df[df['pc'] != 'NaN'].reset_index(drop = True)
df['mc'] = df['SMILES'].progress_apply(lambda x: smiles[x]['mc'] if x in smiles.keys() else 'NaN')
df = df[df['mc'] != 'NaN'].reset_index(drop = True)
df['mg'] = df['SMILES'].progress_apply(lambda x: smiles[x]['mg'] if x in smiles.keys() else 'NaN')
df = df[df['mg'] != 'NaN'].reset_index(drop = True)
df['msa'] = df['Name'].progress_apply(lambda x: entry[x]['msa'] if x in entry.keys() else 'NaN')
df = df[df['msa'] != 'NaN'].reset_index(drop = True)
df

(337212, 10)

  0%|          | 0/337212 [00:00<?, ?it/s]

  0%|          | 0/337170 [00:00<?, ?it/s]

  0%|          | 0/337170 [00:00<?, ?it/s]

  0%|          | 0/337170 [00:00<?, ?it/s]

  0%|          | 0/337170 [00:00<?, ?it/s]

,Entry,Name,Position,MSA,SMILES,Qualifier,Type,Value (nM),Value,Database,3d,pc,mc,mg,msa
0,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,COc1ccccc1NC(=O)Nc1ccc2c(c1)c1c3c(c4c(c1n2CC(C...,=,IC50,41.00,1.612784,BindingDB,"[0.0, 1.0, 0.8125, 1.0, 1.0, 1.0, 1.0, 1.0, 1....","[13.33608730550667, -0.35802941420955325, 13.3...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","[[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
1,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,O=c1c2ccc(Br)cc2c(-c2ccccc2)c(CO)n1CC1CCCCC1,=,IC50,1400.00,3.146128,BindingDB,"[0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, ...","[13.313249795288485, -0.144205404383976, 13.31...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,..."
2,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,COC(=O)c1c(-c2ccccc2)c2cc(Br)ccc2c(=O)n1CC1CCCCC1,=,IC50,450.00,2.653213,BindingDB,"[1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","[13.478068389392794, -0.47348332388510994, 13....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,..."
3,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,COC(=O)c1c(-c2ccccc2)c2cc(Br)ccc2c(=O)n1CCc1cc...,=,IC50,1100.00,3.041393,BindingDB,"[1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","[13.425627047115142, -0.5269534727471237, 13.4...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,..."
4,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,COC(=O)c1c(-c2ccccc2)c2cc(Br)ccc2c(=O)n1Cc1ccc...,=,IC50,100.00,2.000000,BindingDB,"[1.0, 1.0, 0.125, 1.0, 1.0, 0.4375, 0.0, 0.0, ...","[13.567549445704206, -0.5761791383219956, 13.5...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337165,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,CCOC(=O)/C=C/c1c(Oc2c(OC)cccc2OC)nc[nH]c1=O,>,IC50,40000.00,4.628316,DTC,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[12.068147282060973, -0.5772451079197112, 12.0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
337166,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,COc1cccc(Nc2ncnc3ccccc23)c1,<,Ki,19952.00,4.287448,DTC,"[1.0, 0.6875, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0....","[5.207275683421517, 0.7906046863189721, 5.2072...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
337167,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,O=C(Nc1ccc2[nH]ncc2c1)c1ccc(Cl)cc1,>,Ki,1258.93,3.098812,DTC,"[0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[12.022098214285714, -0.16711892164273068, 12....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
337168,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,C#Cc1cccc(Nc2ncnc3cc(OCCOC)c(OCCOC)cc23)c1,<,Ki,2511.00,3.393001,DTC,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[5.857396779890918, 0.392174356427603, 5.85739...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
337169,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,CC(C)NC(=O)COc1cccc(-c2nc(Nc3ccc4[nH]ncc4c3)c3...,>,Ki,1258.93,3.102587,DTC,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[11.935925557035413, -0.16348542982159375, 11....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."

In [8]:
del df['3d']
del df['pc']
del df['mc']
del df['mg']
del df['msa']
df

KeyError: '3d'

In [9]:
df.to_csv('kpro_data_train_desc.csv', index=False)

In [10]:
df = pd.read_csv('kpro_data_test.csv')
print(df.shape)

with open(file='KPro_Test_entry.pickle', mode='rb') as f:
    entry = pickle.load(f)
with open(file='KPro_Test_smiles.pickle', mode='rb') as f:
    smiles = pickle.load(f)

tqdm.pandas()
df['3d'] = df['SMILES'].progress_apply(lambda x: smiles[x]['3d'] if x in smiles.keys() else 'NaN')
df = df[df['3d'] != 'NaN'].reset_index(drop = True)
df['pc'] = df['SMILES'].progress_apply(lambda x: smiles[x]['pc'] if x in smiles.keys() else 'NaN')
df = df[df['pc'] != 'NaN'].reset_index(drop = True)
df['mc'] = df['SMILES'].progress_apply(lambda x: smiles[x]['mc'] if x in smiles.keys() else 'NaN')
df = df[df['mc'] != 'NaN'].reset_index(drop = True)
df['mg'] = df['SMILES'].progress_apply(lambda x: smiles[x]['mg'] if x in smiles.keys() else 'NaN')
df = df[df['mg'] != 'NaN'].reset_index(drop = True)
df['msa'] = df['Name'].progress_apply(lambda x: entry[x]['msa'] if x in entry.keys() else 'NaN')
df = df[df['msa'] != 'NaN'].reset_index(drop = True)
df

(15271, 10)

  0%|          | 0/15271 [00:00<?, ?it/s]

  0%|          | 0/15271 [00:00<?, ?it/s]

  0%|          | 0/15271 [00:00<?, ?it/s]

  0%|          | 0/15271 [00:00<?, ?it/s]

  0%|          | 0/15271 [00:00<?, ?it/s]

,Entry,Name,Position,MSA,SMILES,Qualifier,Type,Value (nM),Value,Database,3d,pc,mc,mg,msa
0,P24941,CDK2,4-286,FQKV----------------EKIGEGT----------------YGV...,COCc1nnn(-c2nonc2N)c1C(=O)N/N=C(\C)c1ccc(O)cc1O,=,Ki,1995.262315,3.300000,Metz,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[12.706873950197362, -0.6832702401948423, 12.7...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
1,O00141,SGK1,98-355,FHFL----------------KVIGKGS----------------FGK...,O=C(CO)N1CCC(c2[nH]nc(-c3ccc(Cl)cc3F)c2-c2ccnc...,<,Ki,10000.000000,3.967317,Metz,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[14.623539579454288, -0.48521693587915604, 14....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
2,P07333,CSF1R,582-912,LQFG----------------KTLGAGA----------------FGK...,O=C1NCCc2[nH]c(-c3ccnc(/C=C/c4ccccc4)c3)cc21,=,Ki,630.957344,2.800000,Metz,"[0.0, 0.0, 1.0, 1.0, 1.0, 0.4375, 1.0, 1.0, 1....","[11.901845198983686, -0.0027749758869328733, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
3,P07948,LYN,247-499,IKLV----------------KRLGAGQ----------------FGE...,O=C1NCCc2[nH]c(-c3ccnc(/C=C/c4ccccc4)c3)cc21,<,Ki,1584.893192,3.172178,Metz,"[0.0, 0.0, 1.0, 1.0, 1.0, 0.4375, 1.0, 1.0, 1....","[11.901845198983686, -0.0027749758869328733, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
4,Q13153,PAK1,270-521,YTRF----------------EKIGQGA----------------SGT...,COCc1nnn(-c2nonc2N)c1C(=O)N/N=C(\C)c1ccc(O)cc1O,=,Ki,2511.886432,3.400000,Metz,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[12.706873950197362, -0.6832702401948423, 12.7...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15266,Q14680,MELK,11-263,YELH----------------ETIGTGG----------------FAK...,Cn1cc(Br)cc1C(=O)Nc1[nH]nc2c1CN(C(=O)N[C@H](CN...,=,IC50,12.000000,1.079181,PDB,"[0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[13.689763986147465, -0.3871249317628289, 13.6...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,..."
15267,P51955,NEK2,8-271,YEVL----------------YTIGTGS----------------YGR...,CCN(/C=C\c1nc(Nc2ccccc2)nc2nc[nH]c12)CC,=,IC50,240.000000,2.380211,PDB,"[1.0, 1.0, 0.0, 1.0, 1.0, 0.75, 1.0, 1.0, 0.43...","[4.602011526832955, 0.5370342025699169, 4.6020...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,..."
15268,P31749,AKT1,150-408,FEYL----------------KLLGKGT----------------FGK...,NC[C@H](Cc1ccc(Cl)cc1)C(=O)N1CCN(c2ncnc3[nH]cc...,=,IC50,5.000000,0.698970,PDB,"[1.0, 0.0625, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1....","[12.9855760617004, -0.21929967666078798, 12.98...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
15269,Q5TCY1,TTBK1,34-295,WKVL----------------KKIGGGG----------------FGE...,CC1(N)CCN(Cc2ccn3ncnc(Nc4cc(O)cc(Br)c4)c23)CC1,=,IC50,120.000000,2.079181,PDB,"[1.0, 0.4375, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1....","[9.833584400292484, -0.057674561676237746, 9.8...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0,..."
15270,P11309,PIM1,38-290,YQVG----------------PLLGSGG----------------FGS...,COc1ccc2c(c1CN1CCNCC1)O/C(=C\c1c[nH]c3ccccc13)...,=,IC50,2.000000,0.301030,PDB,"[0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.4375, 1.0, 1....","[13.035202821869488, -0.0884305450575289, 13.0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0,..."

In [11]:
del df['3d']
del df['pc']
del df['mc']
del df['mg']
del df['msa']
df

,Entry,Name,Position,MSA,SMILES,Qualifier,Type,Value (nM),Value,Database
0,P24941,CDK2,4-286,FQKV----------------EKIGEGT----------------YGV...,COCc1nnn(-c2nonc2N)c1C(=O)N/N=C(\C)c1ccc(O)cc1O,=,Ki,1995.262315,3.300000,Metz
1,O00141,SGK1,98-355,FHFL----------------KVIGKGS----------------FGK...,O=C(CO)N1CCC(c2[nH]nc(-c3ccc(Cl)cc3F)c2-c2ccnc...,<,Ki,10000.000000,3.967317,Metz
2,P07333,CSF1R,582-912,LQFG----------------KTLGAGA----------------FGK...,O=C1NCCc2[nH]c(-c3ccnc(/C=C/c4ccccc4)c3)cc21,=,Ki,630.957344,2.800000,Metz
3,P07948,LYN,247-499,IKLV----------------KRLGAGQ----------------FGE...,O=C1NCCc2[nH]c(-c3ccnc(/C=C/c4ccccc4)c3)cc21,<,Ki,1584.893192,3.172178,Metz
4,Q13153,PAK1,270-521,YTRF----------------EKIGQGA----------------SGT...,COCc1nnn(-c2nonc2N)c1C(=O)N/N=C(\C)c1ccc(O)cc1O,=,Ki,2511.886432,3.400000,Metz
...,...,...,...,...,...,...,...,...,...,...
15266,Q14680,MELK,11-263,YELH----------------ETIGTGG----------------FAK...,Cn1cc(Br)cc1C(=O)Nc1[nH]nc2c1CN(C(=O)N[C@H](CN...,=,IC50,12.000000,1.079181,PDB
15267,P51955,NEK2,8-271,YEVL----------------YTIGTGS----------------YGR...,CCN(/C=C\c1nc(Nc2ccccc2)nc2nc[nH]c12)CC,=,IC50,240.000000,2.380211,PDB
15268,P31749,AKT1,150-408,FEYL----------------KLLGKGT----------------FGK...,NC[C@H](Cc1ccc(Cl)cc1)C(=O)N1CCN(c2ncnc3[nH]cc...,=,IC50,5.000000,0.698970,PDB
15269,Q5TCY1,TTBK1,34-295,WKVL----------------KKIGGGG----------------FGE...,CC1(N)CCN(Cc2ccn3ncnc(Nc4cc(O)cc(Br)c4)c23)CC1,=,IC50,120.000000,2.079181,PDB
15270,P11309,PIM1,38-290,YQVG----------------PLLGSGG----------------FGS...,COc1ccc2c(c1CN1CCNCC1)O/C(=C\c1c[nH]c3ccccc13)...,=,IC50,2.000000,0.301030,PDB

In [12]:
df.to_csv('kpro_data_test_desc.csv', index=False)

# Kinase Extrapolation

In [13]:
train = pd.read_csv('kpro_data_train_desc.csv')
test = pd.read_csv('kpro_data_test_desc.csv')

In [16]:
grp = pd.read_excel('./Dunbrack/si5.xlsx')[['5_Uni_acc', '13_Group_in_Uni']]
grp.columns = ['E', 'Group']
grp

          E Group
0    P31749   AGC
1    P31751   AGC
2    Q9Y243   AGC
3    Q5VT25   AGC
4    Q9Y5S2   AGC
..      ...   ...
492  P29597   TYR
493  P29597   TYR
494  Q06418   TYR
495  P07947   TYR
496  P43403   TYR

[497 rows x 2 columns]

In [17]:
total = pd.read_csv('kpro_data_train_desc.csv')
total

,Entry,Name,Position,MSA,SMILES,Qualifier,Type,Value (nM),Value,Database
0,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,COc1ccccc1NC(=O)Nc1ccc2c(c1)c1c3c(c4c(c1n2CC(C...,=,IC50,41.00,1.612784,BindingDB
1,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,O=c1c2ccc(Br)cc2c(-c2ccccc2)c(CO)n1CC1CCCCC1,=,IC50,1400.00,3.146128,BindingDB
2,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,COC(=O)c1c(-c2ccccc2)c2cc(Br)ccc2c(=O)n1CC1CCCCC1,=,IC50,450.00,2.653213,BindingDB
3,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,COC(=O)c1c(-c2ccccc2)c2cc(Br)ccc2c(=O)n1CCc1cc...,=,IC50,1100.00,3.041393,BindingDB
4,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,COC(=O)c1c(-c2ccccc2)c2cc(Br)ccc2c(=O)n1Cc1ccc...,=,IC50,100.00,2.000000,BindingDB
...,...,...,...,...,...,...,...,...,...,...
337165,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,CCOC(=O)/C=C/c1c(Oc2c(OC)cccc2OC)nc[nH]c1=O,>,IC50,40000.00,4.628316,DTC
337166,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,COc1cccc(Nc2ncnc3ccccc23)c1,<,Ki,19952.00,4.287448,DTC
337167,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,O=C(Nc1ccc2[nH]ncc2c1)c1ccc(Cl)cc1,>,Ki,1258.93,3.098812,DTC
337168,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,C#Cc1cccc(Nc2ncnc3cc(OCCOC)c(OCCOC)cc23)c1,<,Ki,2511.00,3.393001,DTC
337169,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,CC(C)NC(=O)COc1cccc(-c2nc(Nc3ccc4[nH]ncc4c3)c3...,>,Ki,1258.93,3.102587,DTC

In [18]:
total = pd.merge(total, grp, left_on='Entry', right_on='E', how='inner')
del total['E']
total

,Entry,Name,Position,MSA,SMILES,Qualifier,Type,Value (nM),Value,Database,Group
0,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,COc1ccccc1NC(=O)Nc1ccc2c(c1)c1c3c(c4c(c1n2CC(C...,=,IC50,41.00,1.612784,BindingDB,TYR
1,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,C[C@@H]1CN(C(=O)CCCC(=O)N2C[C@@H](C)c3c2cc(O)c...,=,IC50,330.00,2.518514,BindingDB,TYR
2,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,CN(C)c1ccc(C2CC(c3c(O)c4ccccc4oc3=O)=NN2c2nc(-...,=,IC50,5410.00,3.733197,BindingDB,TYR
3,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,Cc1ccc(/N=N/c2sc(N3N=C(c4c(O)c5ccccc5oc4=O)CC3...,=,IC50,34.00,1.531479,BindingDB,TYR
4,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,O=C(CCCC(=O)N1C[C@@H](CCl)c2c1cc(O)c1ccccc21)N...,=,IC50,530.00,2.724276,BindingDB,TYR
...,...,...,...,...,...,...,...,...,...,...,...
337165,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,CCOC(=O)/C=C/c1c(Oc2c(OC)cccc2OC)nc[nH]c1=O,>,IC50,40000.00,4.628316,DTC,TYR
337166,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,COc1cccc(Nc2ncnc3ccccc23)c1,<,Ki,19952.00,4.287448,DTC,TYR
337167,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,O=C(Nc1ccc2[nH]ncc2c1)c1ccc(Cl)cc1,>,Ki,1258.93,3.098812,DTC,TYR
337168,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,C#Cc1cccc(Nc2ncnc3cc(OCCOC)c(OCCOC)cc23)c1,<,Ki,2511.00,3.393001,DTC,TYR
337169,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,CC(C)NC(=O)COc1cccc(-c2nc(Nc3ccc4[nH]ncc4c3)c3...,>,Ki,1258.93,3.102587,DTC,TYR

In [19]:
gs = []
ns = []
vs = []
vss = []
for g in total['Group'].unique():
    gdf = total[total['Group'] == g].reset_index(drop=True)
    gs.append(g)
    ns.append(gdf.shape[0])
    vs.append(np.var(gdf['Value'].tolist()))
    vss.append(gdf['Value'].tolist())

In [20]:
g_df = pd.DataFrame({'G':gs, 'N':ns, 'V':vs, 'VS':vss})
g_df = g_df.sort_values(['N'], ascending=False)
g_df

       G       N         V                                                 VS
0    TYR  130061  1.772018  [1.6127838567197357, 2.5185139398778875, 3.733...
1   CMGC   54039  1.741803  [3.146128035678238, 2.6532125137753435, 3.0413...
3   CAMK   39216  2.142269  [4.032299848469206, 5.33153989111416, 5.348589...
6    AGC   35515  1.706361  [1.568201724066995, 4.518513939877887, 3.88907...
8  OTHER   26886  1.817029  [1.010141053905397, 1.003042217510567, 5.03340...
5    TKL   24330  2.001499  [1.0086001717619175, 1.7058637122839193, 0.778...
4    STE   18772  1.413250  [4.011397847049487, 4.34510935752598, 3.716348...
2    CK1    6328  2.268768  [0.3222192947339193, 0.9816311791629324, 3.264...
7    NEK    2022  1.127179  [3.9542425094393248, 4.000676796615751, 2.0224...
9    RGC       1  0.000000                               [1.5563025007672873]

In [21]:
# TYR, CMGC, AGC

In [22]:
gs = []
es = []
ms = []
ns = []
vs = []
vss = []
for g in ['TYR', 'CMGC', 'AGC']:
    gdf = total[total['Group'] == g].reset_index(drop=True)
    for e in gdf['Entry'].unique():
        edf = gdf[gdf['Entry'] == e].reset_index(drop=True)
        gs.append(g)
        es.append(e)
        ms.append(gdf[gdf['Entry'] == e]['Name'].iloc[0])
        ns.append(edf.shape[0])
        vs.append(np.var(edf['Value'].tolist()))
        vss.append(edf['Value'].tolist())

In [23]:
e_df = pd.DataFrame({'G':gs, 'E':es, 'M':ms, 'N':ns, 'V':vs, 'VS':vss})
TYR = e_df[e_df['G'] == 'TYR'].sort_values(['N'], ascending=False).reset_index(drop=True)
CMGC = e_df[e_df['G'] == 'CMGC'].sort_values(['N'], ascending=False).reset_index(drop=True)
AGC = e_df[e_df['G'] == 'AGC'].sort_values(['N'], ascending=False).reset_index(drop=True)
TYR.shape, CMGC.shape, AGC.shape

((78, 6), (54, 6), (46, 6))

In [24]:
# CDK8, NEK4, MAP3K14, RIPK2, PRKCB, HCK

In [25]:
TYR

,G,E,M,N,V,VS
0,TYR,P35968,KDR,10474,1.675996,"[1.6127838567197357, 2.5185139398778875, 3.733..."
1,TYR,P00533,EGFR,9804,2.148330,"[3.209001254715965, 2.863366486628465, 1.21966..."
2,TYR,Q06187,BTK,9761,1.574364,"[0.3010299956639812, -0.1023729087095585, -0.0..."
3,TYR,P43405,SYK,5350,1.509228,"[2.3636119798921444, 0.9286662482156344, 2.598..."
4,TYR,P04629,NTRK1,5206,1.321041,"[2.041392685158225, 1.9294189257142929, 3.8494..."
...,...,...,...,...,...,...
73,TYR,Q15375,EPHA7,9,1.332907,"[0.7481880270062005, 0.6232492903979004, 4.001..."
74,TYR,P54756,EPHA5,8,2.858405,"[5.013859854702597, 0.3424226808222063, 1.9542..."
75,TYR,P35590,TIE1,8,0.116517,"[4.04401190076744, 3.740362689494244, 2.971516..."
76,TYR,Q9UF33,EPHA6,2,3.324639,"[3.725899731104332, 0.0791812460476248]"
77,TYR,O15197,EPHB6,1,0.000000,[3.983401243239097]

In [26]:
TYR[TYR['M'] == 'HCK']

,G,E,M,N,V,VS
43,TYR,P08631,HCK,584,1.593397,"[4.019424522661444, 3.268343913951065, 2.38738..."

In [27]:
TYR[(TYR['V'] > 1) & (TYR['N'] < 600) & (TYR['N'] > 400)]

,G,E,M,N,V,VS
43,TYR,P08631,HCK,584,1.593397,"[4.019424522661444, 3.268343913951065, 2.38738..."
49,TYR,Q04912,MST1R,434,1.062220,"[0.4623979978989561, 2.14921911265538, 1.47712..."
51,TYR,P42681,TXK,410,1.438703,"[-0.6989700043360187, 0.5440680443502757, 1.74..."

In [28]:
CMGC[(CMGC['V'] > 1) & (CMGC['N'] < 600) & (CMGC['N'] > 400)]

,G,E,M,N,V,VS
27,CMGC,P49759,CLK1,450,1.023564,"[1.1139433523068367, 1.414973347970818, 1.9030..."

In [29]:
AGC[(AGC['V'] > 1) & (AGC['N'] < 600) & (AGC['N'] > 400)]

,G,E,M,N,V,VS
22,AGC,Q02156,PRKCE,488,1.709624,"[0.0, 1.6901960800285136, 0.9777236052888476, ..."

In [30]:
testtype = pd.concat([TYR[(TYR['V'] > 1) & (TYR['N'] < 600) & (TYR['N'] > 400)].iloc[:1],
                      CMGC[(CMGC['V'] > 1) & (CMGC['N'] < 600) & (CMGC['N'] > 400)],
                      AGC[(AGC['V'] > 1) & (AGC['N'] < 600) & (AGC['N'] > 400)]]).reset_index(drop=True)
testtype

,G,E,M,N,V,VS
0,TYR,P08631,HCK,584,1.593397,"[4.019424522661444, 3.268343913951065, 2.38738..."
1,CMGC,P49759,CLK1,450,1.023564,"[1.1139433523068367, 1.414973347970818, 1.9030..."
2,AGC,Q02156,PRKCE,488,1.709624,"[0.0, 1.6901960800285136, 0.9777236052888476, ..."

In [31]:
testtype.columns = ['G', 'Entry', 'M', 'Counts', 'Varation', 'VS']
del testtype['G']
del testtype['M']
del testtype['VS']
testtype

    Entry  Counts  Varation
0  P08631     584  1.593397
1  P49759     450  1.023564
2  Q02156     488  1.709624

In [32]:
test = total[total['Entry'].isin(testtype['Entry'])].reset_index(drop=True)
test = pd.merge(test, testtype, left_on='Entry', right_on='Entry', how='left')
test

,Entry,Name,Position,MSA,SMILES,Qualifier,Type,Value (nM),Value,Database,Group,Counts,Varation
0,P49759,CLK1,161-477,YEIV----------------DTLGEGA----------------FGK...,O=C(NCC1CCOCC1)c1n[nH]c2ccc(-c3cncc(CO)c3)cc12,=,IC50,13.00,1.113943,BindingDB,CMGC,450,1.023564
1,P49759,CLK1,161-477,YEIV----------------DTLGEGA----------------FGK...,Nc1ncc(I)c(-c2c[nH]c3c(N)cccc23)n1,=,IC50,26.00,1.414973,BindingDB,CMGC,450,1.023564
2,P49759,CLK1,161-477,YEIV----------------DTLGEGA----------------FGK...,Nc1ccc2c(-c3nc(N)ncc3I)c[nH]c2c1,=,IC50,80.00,1.903090,BindingDB,CMGC,450,1.023564
3,P49759,CLK1,161-477,YEIV----------------DTLGEGA----------------FGK...,c1nc(N[C@H]2CC[C@H](N3CCOCC3)CC2)c2c(C3CCOCC3)...,=,IC50,50.00,1.698970,BindingDB,CMGC,450,1.023564
4,P49759,CLK1,161-477,YEIV----------------DTLGEGA----------------FGK...,Nc1ccc2[nH]cc(-c3nc(N)ncc3I)c2c1,=,IC50,610.00,2.785330,BindingDB,CMGC,450,1.023564
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1517,P08631,HCK,262-513,LKLE----------------KKLGAGQ----------------FGE...,CC(C)n1nc(-c2ccc3cc[nH]c3c2)c2c(N)ncnc21,=,IC50,18.00,1.255273,DTC,TYR,584,1.593397
1518,P08631,HCK,262-513,LKLE----------------KKLGAGQ----------------FGE...,Cc1ccc(-c2n[nH]c3ncnc(N)c23)cc1O,=,IC50,78.00,1.892095,DTC,TYR,584,1.593397
1519,P08631,HCK,262-513,LKLE----------------KKLGAGQ----------------FGE...,COc1cc(-c2nn(C3CCCC3)c3ncnc(N)c23)ccc1N,=,IC50,2.00,0.301030,DTC,TYR,584,1.593397
1520,P08631,HCK,262-513,LKLE----------------KKLGAGQ----------------FGE...,c1ccc(-c2c[nH]c3ncnc(N4CCCCC4)c23)cc1,>,Ki,3162.28,3.488431,DTC,TYR,584,1.593397
1521,P08631,HCK,262-513,LKLE----------------KKLGAGQ----------------FGE...,Nc1ncnc2c1c(-c1ccc3cc[nH]c3c1)nn2C1CCCC1,=,IC50,5.00,0.698970,DTC,TYR,584,1.593397

In [33]:
sorted(test['Name'].unique().tolist())

['CLK1', 'HCK', 'PRKCE']

In [34]:
train = total[~(total['Entry'].isin(testtype['Entry']))].reset_index(drop=True)
train

,Entry,Name,Position,MSA,SMILES,Qualifier,Type,Value (nM),Value,Database,Group
0,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,COc1ccccc1NC(=O)Nc1ccc2c(c1)c1c3c(c4c(c1n2CC(C...,=,IC50,41.00,1.612784,BindingDB,TYR
1,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,C[C@@H]1CN(C(=O)CCCC(=O)N2C[C@@H](C)c3c2cc(O)c...,=,IC50,330.00,2.518514,BindingDB,TYR
2,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,CN(C)c1ccc(C2CC(c3c(O)c4ccccc4oc3=O)=NN2c2nc(-...,=,IC50,5410.00,3.733197,BindingDB,TYR
3,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,Cc1ccc(/N=N/c2sc(N3N=C(c4c(O)c5ccccc5oc4=O)CC3...,=,IC50,34.00,1.531479,BindingDB,TYR
4,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,O=C(CCCC(=O)N1C[C@@H](CCl)c2c1cc(O)c1ccccc21)N...,=,IC50,530.00,2.724276,BindingDB,TYR
...,...,...,...,...,...,...,...,...,...,...,...
335643,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,CCOC(=O)/C=C/c1c(Oc2c(OC)cccc2OC)nc[nH]c1=O,>,IC50,40000.00,4.628316,DTC,TYR
335644,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,COc1cccc(Nc2ncnc3ccccc23)c1,<,Ki,19952.00,4.287448,DTC,TYR
335645,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,O=C(Nc1ccc2[nH]ncc2c1)c1ccc(Cl)cc1,>,Ki,1258.93,3.098812,DTC,TYR
335646,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,C#Cc1cccc(Nc2ncnc3cc(OCCOC)c(OCCOC)cc23)c1,<,Ki,2511.00,3.393001,DTC,TYR
335647,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,CC(C)NC(=O)COc1cccc(-c2nc(Nc3ccc4[nH]ncc4c3)c3...,>,Ki,1258.93,3.102587,DTC,TYR

In [35]:
for e in test['Entry'].unique().tolist():
    if e in train['Entry'].unique().tolist():
        print(e)

In [36]:
train.shape, test.shape

((335648, 11), (1522, 13))

In [37]:
train['Entry'].unique().shape[0], test['Entry'].unique().shape[0]

(388, 3)

In [38]:
train.to_csv('./Kinase_Extrapolation/kpro_data_train.csv', index=False)
test.to_csv('./Kinase_Extrapolation/kpro_data_test.csv', index=False)

# SMILES Extrapolation

In [39]:
train = pd.read_csv('kpro_data_train_desc.csv')
test = pd.read_csv('kpro_data_test_desc.csv')

In [40]:
test_smi = test['SMILES'].unique()

In [41]:
train = train[~(train['SMILES'].isin(test_smi))].reset_index(drop=True)
train

,Entry,Name,Position,MSA,SMILES,Qualifier,Type,Value (nM),Value,Database
0,P35968,KDR,834-1162,LKLG----------------KPLGRGA----------------FGQ...,COc1ccccc1NC(=O)Nc1ccc2c(c1)c1c3c(c4c(c1n2CC(C...,=,IC50,41.0,1.612784,BindingDB
1,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,O=c1c2ccc(Br)cc2c(-c2ccccc2)c(CO)n1CC1CCCCC1,=,IC50,1400.0,3.146128,BindingDB
2,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,COC(=O)c1c(-c2ccccc2)c2cc(Br)ccc2c(=O)n1CC1CCCCC1,=,IC50,450.0,2.653213,BindingDB
3,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,COC(=O)c1c(-c2ccccc2)c2cc(Br)ccc2c(=O)n1CCc1cc...,=,IC50,1100.0,3.041393,BindingDB
4,P45983,MAPK8,26-321,YQNL----------------KPIGSGA----------------QGI...,COC(=O)c1c(-c2ccccc2)c2cc(Br)ccc2c(=O)n1Cc1ccc...,=,IC50,100.0,2.000000,BindingDB
...,...,...,...,...,...,...,...,...,...,...
287488,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,NC(=O)c1cc2c(Oc3ccc(Br)cc3)cncc2s1,=,Ki,1258.0,3.093097,DTC
287489,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,COc1cc(NC(=O)c2csc(Nc3ncc(Cl)c(Nc4ccccc4S(=O)(...,>,IC50,1000.0,3.025893,DTC
287490,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,CCOC(=O)/C=C/c1c(Oc2c(OC)cccc2OC)nc[nH]c1=O,>,IC50,40000.0,4.628316,DTC
287491,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,COc1cccc(Nc2ncnc3ccccc23)c1,<,Ki,19952.0,4.287448,DTC
287492,Q9UM73,ALK,1116-1385,ITLI----------------RGLGHGA----------------FGE...,C#Cc1cccc(Nc2ncnc3cc(OCCOC)c(OCCOC)cc23)c1,<,Ki,2511.0,3.393001,DTC

In [42]:
train.shape, test.shape

((287493, 10), (15271, 10))

In [43]:
train['Entry'].unique().shape[0], test['Entry'].unique().shape[0]

(391, 165)

In [44]:
train['SMILES'].unique().shape[0], test['SMILES'].unique().shape[0]

(155781, 618)

In [45]:
train.to_csv('./SMILES_Extrapolation/kpro_data_train.csv', index=False)
test.to_csv('./SMILES_Extrapolation/kpro_data_test.csv', index=False)